{% extends "base.html" %}
{% block content %}
<h4 style="color:#cccccc;">И на марсе будут яблони цвести!</h4>
<!--<h1 style="text-align: center;">Works Log</h1>-->
<!--{% for item in works %}-->

<!--<div class="col-md6 border rounded" style="max-width: 900px; margin: 30px;">-->
<!--    <h2>Action #{{ item['id'] }}</h2>-->
<!--    <table style="max-width: 900px;min-width: 900px;text-align: center;">-->
<!--        <tr style="background:#dddddd;">-->
<!--            <th>Title of activiti</th>-->
<!--            <th>Team Leader</th>-->
<!--            <th>Duration</th>-->
<!--            <th>List of Collaborations</th>-->
<!--            <th>is finished</th>-->
<!--        </tr>-->
<!--        <tr >-->
<!--            <td style="background:#eeeeff;">{{ item['job'] }}</td>-->
<!--            <td style="background:#eeeeff;">{{ item["team_leader"] }}</td>-->
<!--            <td style="background:#eeeeff;">{{ item['work_size'] }}</td>-->
<!--            <td style="background:#eeeeff;">{{ item['collaborators'] }}</td>-->
<!--            {% if item['is_finished'] == False %}-->
<!--                <td style="background:#ffeeff;">is not finished</td>-->
<!--            {% else %}-->
<!--                <td style="background:#a1f8b1;">is finished!</td>-->
<!--            {% endif %}-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<!--{% endfor %}-->
{% endblock %}